/*.img-options {
  width: 100px;
  height: 100px;
}*/

#option1, #option2, #option3 {
  width: 30%;
  border: 5px solid #000;
  border-radius: 8px;
  margin: 20px;
  display: inline-block;
}

body {
  background: linear-gradient(#00757A, #03172E);
  background-repeat: no-repeat;
  min-height: 1000px;
}

ul {
  color: #fff;
}

legend {
  color: #fff;
  font-size: 50px;
  font-family: sans-serif;
  margin-bottom: -20px;
  font-weight: bold;
}

canvas {
  width: 75%;
  min-width: 400px;
}
